/* src/HomePage.css */

/* General body styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
  }
  
  /* Main container */
  .HomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  /* Header styles */
  .HomePage h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Button styles */
  .HomePage button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .HomePage button:hover {
    background-color: #0056b3;
  }
  
  